 @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body, html {
	height: 100vh;
	background-color: #f77f00  !important;
}

nav {
	background: #003049;
}

h2 {
	font-family: 'Mulish', sans-serif;
	text-align: center;
	letter-spacing: 5px;
	font-weight: 900;
	font-size: 3rem !important;
}


p {
    font-family: 'Roboto Slab', serif;	
    text-align: center;
    color: #333;
    font-size: 1.25rem;
}

strong {
	text-align: center;
	width: 100vw;
}
#form-login, #form-config {
	margin: 10vh auto;
	border-radius: 10px;
	box-shadow: 0px 1px 5px 3px #999;
	width: 40vw; min-width: 300px;
	height: 60vh; min-height: 420px;
	background: #fff;
}

#form-login > div {
	width: 100%;
}

#form-login > img, #form-config > img {
	max-width: 250px;
	min-width: 200px;
}

#form-login label, #form-config label {
	font-family: 'Mulish', sans-serif;
	font-size: 1.125rem;
}

#tasks-container {
	height: 80vh;
	width: 70vw;
	background-color: white;
	border-radius: 20px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow-y: auto;
}

#tasks-container table {
	max-width: 90%;
}

.nav-icon {
	width: 30px;
}

#create-task {
	font-size: 1.5rem !important;
	color: #000;
	border-radius: 30px;
	border: solid 3px;
}
.button-add {
	width: 35px;
}

thead th {
	font-family: 'Mulish', sans-serif;
}

tbody th {
	font-family: 'Roboto Slab', serif;	
}

.editar, .excluir {
	border-radius: 10px !important;
	border: solid 2px !important;
	color: #000 !important;
	width: 100% !important;
	min-width: 60px;
}